
.profile {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-72%, -70%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 320px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 100%;
}

.form > div {
  width: 100%;
  margin-bottom: 24px;
}

.form > div > div {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.description {
  margin-bottom: 0;
  color: #8585AD;
  opacity: 0.4;
}


.fontPrimary {
  height: 24px;
  left: 0;
  top: 0;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #F2F2F3;
}

.fontSecondary {
  composes: fontPrimary;   
  color: #8585AD;
}