.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    text-decoration: none;
    height: 56px;      
    /*
    background: #1C1C21; 
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
    */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.fontPrimary {
    height: 24px;
    left: 0;
    top: 0;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
}

.fontSecondary {
    composes: fontPrimary;   
    color: #8585AD;
}