.header {
    background: #1C1C21;    
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-height: 80px;*/
}

.center {
    width: 1280px;
}

.nav {
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
}

.container {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    text-decoration: none;
    height: 56px;      
    /*
    background: #1C1C21; 
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
    */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.fontPrimary {
    height: 24px;
    left: 0;
    top: 0;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
}

.fontSecondary {
    composes: fontPrimary;   
    color: #8585AD;
}